.container {
    display: flex;
    flex-direction: row;
}

.item {
    flex: 1 1 auto;
    justify-content: space-around;
}

.v-divider{
    margin-left:14px;
    width:10px;
    height:465px;
    border-left:3px solid teal;
}